<div class="page chapter" id="{{id}}">
    <div class="chapter-number">{{no}}</div>
    <h1 class="chapter-title">{{title}}</h1>
    <div class="chapter-content">
        {{{content}}}
    </div>
</div>
