<div id="credits" class="page">
    <h1>Credits</h1>
    <div class="credits-content">
        <h5>Concept</h5>
        <ul>
            {{#each credits.concept}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Editing</h5>
        <ul>
            {{#each credits.editing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Cover Design</h5>
        <ul>
            {{#each credits.cover_design}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Interior Art</h5>
        <ul>
            {{#each credits.interior_art}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Cartography</h5>
        <ul>
            {{#each credits.cartography}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Proof Reading</h5>
        <ul>
            {{#each credits.proof_reading}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Game Testing</h5>
        <ul>
            {{#each credits.game_testing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Publisher</h5>
        <ul>
            <li>Pagemesh Inc.</li>
        </ul>
    </div>
    <div>{{{credits.copyright}}}</div>
</div>
