<div class="page toc" id="toc">
    <h1>Table of Contents</h1>
    <div class="toc-content">
        <ul>
            {{#each toc_entries}}
                <li class="level-{{level}}"><a href="#{{id}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
