<html>
<head>
    <title>{{title}}</title>
    <meta name="author" content="{{authors}}"/>
    <meta name="subject" content="{{subject}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    <meta name="date" content="{{pubdate}}"/>
    <meta name="generator" content="Pagemesh"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" type="text/css">
    <link rel="stylesheet" href="theme.css.hbs" type="text/css">
    {{#each theme.extra_css}}
        <link rel="stylesheet" href="{{this}}" type="text/css">
    {{/each}}
    <link href="{{theme.font.url}}" rel='stylesheet' type='text/css'>
</head>
<body>
    {{> cover this}}
    {{> credits this}}
    {{> toc this}}
    {{> preface this}}

    {{#each chapters}}
        {{> chapter}}
    {{/each}}

    {{> index this}}
    {{> backcover this}}
</body>
</html>

