@page {
    size: {{page_size}};
    margin: 0;
}

h1 {
    prince-bookmark-level: 1
}

h2 {
    prince-bookmark-level: 2
}

h3 {
    prince-bookmark-level: 3
}

.page {
    page-break-after: always;
    margin:0;
    padding: 0.5in 0 0.5in;
}

#cover {
    height: 11in;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    background-image: url({{cover_url}});
}

#cover h1 {
    font-weight: 300;
    font-size: 20pt;
    text-align: right;
    margin: .5in .5in 0 0;
    color: {{colors.heading}};
}

#cover p {
    font-weight: 700;
    font-size: 12pt;
    text-align: right;
    margin-right: .5in;
}

#toc a[href]::after { content: leader(dotted) " " target-counter(attr(href, url), page); }

#credits {
    height: 11in;
    background-attachment: fixed;
    background-size: cover;
    background-image: url({{page_background_url}});
}

#credits h1 {
    font-size: 26pt;
    font-weight: 600;
    text-align: center;
    margin-top: 1in;
    margin-bottom: 1cm;
    color: {{colors.heading}};
}

#credits .credits-content {
    font-size: 12pt;
    column-count: 2;
    column-gap: 1cm;
    padding: 1.5cm;
}

#credits p {
    padding: 1.5cm;
    text-align: center;
}

#credits ul {
    margin-bottom: 0.5in;
    text-align: center;
}

#credits h5 {
    color: {{colors.heading}};
    text-align: center;
}

#toc {
    padding: 1.5cm;
    height: 11in;
    background-attachment: fixed;
    background-size: cover;
    background-image: url({{page_background_url}});
}

.toc-content {
    columns: 2;
    font-size:80%;
    color: {{colors.text}};
}

#toc .level-1 {
    font-weight:800;
}

#toc .level-2 {
    margin-left: 0.5cm;
    color: cmyk(0.41, 0.58, 0.75, 0.28);
}

#toc .level-3 {
    margin-left: 1cm;
}

#toc .level-4 {
    margin-left: 1.5cm;
}

#toc .level-5 {
    margin-left: 2cm;
}

#toc h1 {
    font-size: 26pt;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1cm;
    color: {{colors.heading}};
}

#toc li {
    list-style-type: none;
    list-style-position: inside;
    font-size: 11pt;
    font-weight: 300;
}

#toc li a {
    color: inherit;
    text-decoration: none;
}

.chapter {
    height: 11in;
    page: chapter;
    background-attachment: fixed;
    background-size: cover;
    background-image: url({{page_background_url}});
}

@page chapter {

    @bottom {
        content: counter(page);
        font-size: 14pt;
        font-weight: 600;
        color: cmyk(0, 0.591, 0.636, 0.827);
        margin-top: -1in;
        margin-right: 0.4in;
        z-index: 100;
    }
}

.chapter-number {
    font-size: 180pt;
    line-height: .9;
    font-weight: 600;
    text-align: right;
    margin: 0.75in .5in 0 0;
    color: {{colors.heading}};
}

.chapter-title {
    color: {{colors.heading}};
    font-size: 24pt;
    font-weight: 800;
    line-height: 1;
    text-align: right;
    margin-right: 0.6in;
}

.chapter-block {
    margin: 0.5in 0.5in;
}

.chapter-content {
    padding: 0.75in;
    color: {{colors.text}};
}

.chapter-content img {
    margin:auto;
}

.chapter-content p {
    margin-bottom: 1.5em;
    text-align: justify;
}

h2 {
    font-weight:bold;
    font-size: 18pt;
    color: {{colors.heading}};
    margin-top: 0.25in;
    margin-bottom: 0.25in;
}

h3 {
    font-weight:bold;
    font-size: 16pt;
    color: {{colors.heading}};
    margin-bottom: .15in;
}

h4 {
    font-weight:bold;
    font-size: 12pt;
    color: {{colors.heading}};
}

body {
    font-family: 'Old Standard TT', serif;
    line-height: 1.3;
    font-size: 11pt;
    counter-reset: page 1
    color: {{colors.text}};
}

table {
    width: 100%;
    font-size: 75%;
}

table, th, td  {
    border: 1px solid cmyk(0, 0.591, 0.636, 0.827);
}

th {
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: cmyk(0, 0.591, 0.636, 0.827);
    color: cmyk(0, 0, 0, 0);
}

td {
    padding:3px;
}

ul {
    width: 100%;
    margin-top: 0.15in;
    margin-bottom: 0.15in
}

li {
    margin-bottom: 3px;
}

.banner {
    float: left;
    wrap: both;
    margin:1.5cm;
    page-break-after: always;
}

.banner img {
    width: 100%;
}

.label, .bold {
    font-weight: 800;
}
